---
---
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html { 
  font-family: Helvetica, Sans-Serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

body {
  display: flex;
  flex-direction: column;
}

.notFound {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 800px;
  max-width: 800px;  
  margin-top: 80px;
}


.header {
  display: flex;
  flex-direction: row;
  height: 52px;
  min-height: 52px;
  border-bottom: 1px solid #4f966a;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  cursor: pointer;
}

.logo {
  display: flex;
  margin-left: 16px;
  margin-right: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

.header h1 {
  display: flex;
  line-height: 44px;
  margin-left: 16px;
  font-size: 36px;
  font-weight: 300;
  border: none;
  margin-top: 0 !important  ;
}

.footer {
  width: 100%;
  margin-bottom: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 800px;
  max-width: 800px;
  margin-top: 16px;
  margin-top: 72px;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  margin-left: 16px;
  height: 100%;
  padding-top: 92px;
  font-size: 16px;
  line-height: 20px;
}

nav a, nav a:visited, nav a:active {
  text-decoration: none;
}

nav ul {
  overflow: scroll
}

li li {
  margin-left: 24px;
}

nav li {
  list-style: none;
}

nav li li {
  margin-left: 8px;
}

a, a:visited, a:active {
  color: #4f966a;
  cursor: pointer;
}
a:hover {
  text-decoration:underline;
}

h1 {
  color: #4f966a;
  font-size: 34px;
  font-weight: 300;
  padding-bottom: 4px;
}

h1:not(:first-child) {
  margin-top: 42px;
}

h2 {
  margin-top: 42px;
  color: #4f966a;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 0px;
}

p {
  margin-top: 20px;
  margin-bottom: 4px;
}

b {
  font-weight: 400;
}

table {
  border: 1px solid #4f966a;
  border-collapse: collapse;
}
thead {
  border-bottom: 1px solid #4f966a;
}
th {
  color: #4f966a;
  font-weight: 400;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
tr:nth-child(even){
  background-color: #ecf6f0;
}
td {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.cta {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  margin-top: 36px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
  border: 1px solid #4f966a;
  border-radius: 3px;
  color: #4f966a;
  background-color:  #ecf6f0;
  cursor: pointer;
  font-size: 24px;
}
.cta:hover {
  background-color: white;
}

.card-row {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  gap: 36px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #4f966a;
  width: 340px;
  max-width: 340px;
  min-width: 340px;
  min-height: 280px;
}

.card h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 8px;
}

.code {
  color: #72d999;
  font-family: Inconsolata, monospace;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  background-color: #383E42;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word;;
  white-space: pre-wrap;
}
section.changelog {
  margin-top: 16px;
  margin-bottom: 24px;
}

section.changelog h1 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

section.changelog h2 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 12px;
  color: #383E42;
  font-style: italic;
}

.warning {
  color: #D972B2;
  border-left: 4px solid #D972B2;
  padding-left: 10px;
  margin-bottom: 18px;
}

.info {
  border-left: 4px solid gray;
  padding-left: 10px;
  margin-bottom: 18px;
}

.license {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  font-size: 12px;
  line-height: 14px;;
  white-space: pre;;
}

.marquee {
  color: #4f966a;
  font-size: 36px;
  line-height: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 12px;
}

.caption {
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2px;
  color: #383E42;
}

span.emphasis {
  color: white;
}

span.comment {
  color: #4f966a;
}

p.ref {
  margin-top: 2px;
  margin-bottom: 2px;
}

p.ref:before {
  content: url({{ site.baseurl }}/assets/images/ref.svg);
  margin-right: 8px;
}
  
.doc-example {
  margin-left: 120px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.doc-exampleh1, .doc-example h2 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.blog {
}

.blog li {
  list-style: none;
}

.blog-expert {
}

.blog-header {
  font-size: 16px;
  line-height: 16px;
  font-style: italic;
  color: #383E42;
  margin-top: 2px;
  margin-bottom: 4px;
}

.blog-expert h2 {
  font-size: 18px;
}
.blog-expert h2 a {
  text-decoration: none;
}
.blog-expert h2 a:hover, .blog-expert h2 a:active {
  text-decoration: underline;
}

img {
  margin: auto;
  width: 400px;
  max-width: 400px;
}
.logo img {
  margin: 0;
  width: 40px;
  height: 40px;
}